<div class="container">
  <mat-toolbar>
    <span>
      Uploads Your Files
    </span>
  </mat-toolbar>
  <input type='file' id="file" class="chose-file" (change)="onSelectFile($event)">
  <input type='file'  class="select-img" (change)="onSelectImage($event)">
  <div class="uploads-container">
    <div class="files-container">
      <ngx-doc-viewer *ngFor="let file of files" [url]="file.objectURL" [viewer]="file.viewer" class="file">
      </ngx-doc-viewer>
    </div>
    <div class="files-container">
      <img *ngFor="let url of images" [src]="url" class="file" alt="nothing">
    </div>
  </div>
</div>
